body {
  margin: 0;
}

.article {
  width: 30rem;
  height: 25rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  backdrop-filter: blur(4px);
}

.article:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(100px);
  margin: -20px;
}

.inputField:hover {
  background-color: rgba(17, 17, 17, 0.315);
}

label {
  color: rgb(53, 53, 53);
  font-size: 1.2rem;
}

.regBtn {
  padding: 10px 15px;
  background-color: rgba(54, 54, 54, 0.644);
  color: #fff;
  border-radius: 5px;
  border: 1px solid;
  transition: 0.3s all ease;
  font-size: 1.2rem;
}

.regBtn:hover {
  background-color: rgba(17, 17, 17, 0.747);
}
